In [177]:
import numpy as np
import sys

In [140]:
a = 128

In [141]:
id(a)

4297152592

In [142]:
b = a

In [143]:
id(b) == id(a)

True

In [144]:
[1,2,3,...,10]

[1, 2, 3, Ellipsis, 10]

In [145]:
c = None

In [146]:
type(c)

NoneType

In [147]:
id(c)

4296868152

In [148]:
type(__debug__)

bool

In [149]:
d = str.encode('reza')

In [150]:
type(d)

bytes

In [151]:
print(d)

b'reza'

In [152]:
ord('ر')

1585

In [153]:
chr(1585)

'ر'

In [154]:
tp = 'Reza','Omid','Nima','Zara'

In [155]:
type(tp)

tuple

In [156]:
tp

('Reza', 'Omid', 'Nima', 'Zara')

In [157]:
whos

Variable   Type        Data/Info
--------------------------------
a          int         128
b          int         128
c          NoneType    None
d          bytes       b'reza'
e          str         RezaReza
f          str         12345
np         module      <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
numpy      module      <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
tp         tuple       n=4
tp2        tuple       n=1
x          bytes       b'\x00\x00\x00\x00\x00\x0<...>\x00\x00\x00\x00\x00\x00'

In [158]:
tp[2][::-1]

'amiN'

In [159]:
'Omid' in tp

True

In [160]:
e = ('Reza')*2

In [161]:
type(e)

str

In [162]:
f = '12345'

In [163]:
f[-5]

'1'

In [164]:
f[-5:]

'12345'

In [165]:
f[::-5]

'5'

In [166]:
bytes(123)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

In [167]:
min(tp)

'Nima'

In [168]:
max(tp)

'Zara'

In [178]:
sys.getsizeof(tp)

80

In [198]:
sys.getsizeof("Reza")

53

In [200]:
(1 == 0) is False

True

In [202]:
l = ['Benz','BMW','Mazda']

In [204]:
any(l)

True

In [205]:
any([])

False