In [6]:
import collections

In [7]:
Card = collections.namedtuple('Card', ['rank', 'suit'])

In [8]:
class FrenchDeck:
    
    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    
    def __init__(self):
        self._cards = [Card(rank, suit) for suit in self.suits 
                                        for rank in self.ranks]
    
    def __len__(self):
        return len(self._cards)
    
    def __getitem__(self, position):
        return self._cards[position]

In [9]:
deck = FrenchDeck()

In [10]:
deck[0:10]

[Card(rank='2', suit='spades'),
 Card(rank='3', suit='spades'),
 Card(rank='4', suit='spades'),
 Card(rank='5', suit='spades'),
 Card(rank='6', suit='spades'),
 Card(rank='7', suit='spades'),
 Card(rank='8', suit='spades'),
 Card(rank='9', suit='spades'),
 Card(rank='10', suit='spades'),
 Card(rank='J', suit='spades')]

In [11]:
ord('A')

65

In [12]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [13]:
'my dream'.split()

['my', 'dream']

In [14]:
colors = ['red', 'black', 'blue']
sizes = ['S', 'M', 'L']

for t in ('%s %s' % (c, s) for c in colors for s in sizes):
    print(t)

red S
red M
red L
black S
black M
black L
blue S
blue M
blue L

In [15]:
names = ('reza', 'alex', 'sara')

In [16]:
'{}, {}, {}'.format(*names)

'reza, alex, sara'

In [17]:
names = ['reza', 'ali']
print(*names)

reza ali

In [18]:
a, b, *rest = range(5)

In [19]:
rest

[2, 3, 4]

In [5]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), #
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas: #
    if longitude <= 0: #
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [20]:
City = collections.namedtuple('City', 'name population country code')

In [21]:
tehran = City(name='Tehran', country='IR', population=12.300, code='021')

In [22]:
tehran.name

'Tehran'

In [30]:
tehran._asdict().items()

odict_items([('name', 'Tehran'), ('population', 12.3), ('country', 'IR'), ('code', '021')])

In [32]:
[['.'] * 3 for i in range(4)]

[['.', '.', '.'], ['.', '.', '.'], ['.', '.', '.'], ['.', '.', '.']]